@import '../../global.scss';

.userChart {
   flex: 1;
   padding: 10px;
   border-radius: 5px;
   color: gray;
   -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

   @include large {
      width: 100%;
   }

   @include tablet {
      width: 100%;
   }

   @include mobile {
      width: 100%;
   }


   .title {
      margin-bottom: 20px;
      color: rgba(106, 13, 173, 0.8);
   }

   .chartGrid {
      stroke: rgb(229, 229, 229);
   }
}
